services:

  # ============= DATABASE (SQL Server) =================
  sqlserver:
    image: tuanphamn/mssql-server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - backend

  # ============= AUTH SERVICE =================
  auth_api:
    image: tuanphamn/shortenurl-auth_api:latest
    container_name: auth_api
    ports:
      - "1000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Server=sqlserver;Database=AuthDB;User Id=sa;Password=Your_password123;TrustServerCertificate=True;
    depends_on:
      - sqlserver
    networks:
      - backend

  # ============= URL SHORTEN SERVICE =================
  url_shorten_service:
    image: tuanphamn/shortenurl-url_shorten_service:latest
    container_name: url_shorten_service
    ports:
      - "2000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Server=sqlserver;Database=UrlDB;User Id=sa;Password=Your_password123;TrustServerCertificate=True;
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USERNAME=guest
      - RABBITMQ_PASSWORD=guest
      - BASE_URL=http://localhost:2000   
    depends_on:
      - sqlserver
      - rabbitmq
    networks:
      - backend

  # ============= CRUD SERVICE =================
  crud_service:
    image: tuanphamn/shortenurl-crud_service:latest
    container_name: crud_service
    ports:
      - "3000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Server=sqlserver;Database=CrudDB;User Id=sa;Password=Your_password123;TrustServerCertificate=True;
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USERNAME=guest
      - RABBITMQ_PASSWORD=guest
    depends_on:
      - sqlserver
      - rabbitmq
    networks:
      - backend

  # ============= API GATEWAY - OCELOT =================
  gateway:
    image: tuanphamn/shortenurl-gateway:latest
    container_name: gateway
    ports:
      - "8888:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      - auth_api
      - url_shorten_service
      - crud_service
    networks:
      - backend

  # ============= FRONTEND VUE =================
  client:
    image: tuanphamn/shortenurl-client:latest
    container_name: vue_client
    ports:
      - "8080:80"
    depends_on:
      - gateway
    networks:
      - backend

  rabbitmq:
    image: tuanphamn/rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - backend

# ================= VOLUMES & NETWORKS =================
volumes:
  sql_data:

networks:
  backend:
